@font-face {
  font-family: 'Merriweather';
  font-weight: 700;
  font-style: normal;
  src: url('Merriweather-Bold.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  src: url('Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  font-style: normal;
  src: url('Roboto-Medium.ttf');
}
